@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background: #101010;
}

#buttons {
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.min, .sec, .timer {
    font-family: 'Titillium Web', sans-serif;
}

.lapBtn, .start, .stop {
    width: 60px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 12px;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
}

.lapBtn {
    width: 44px;
    height: 26px;
    margin-top: 16px;
    visibility: hidden;
    background-image: linear-gradient(blue, #fff);
    color: #fff;
}

.start {
    background-color: #fff;
    margin: 0 8px;
}
.stop {
    display: none;
    background-color: red;
    color: #fff;
}

#container {
    background: #191D20;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.allTimers {
    color: #fff;
    font-size: 2.6rem;
    margin-bottom: 5px;
}

#wrapper {
    position: absolute;
    left: 17vw;
    top: 4vh;
}

.lapContainer {
    height: 50vh;
    overflow-y: scroll;
    margin-top: 30px;
    text-align: center;
    display: none;
    font-family: 'Zen Kurenaido', sans-serif;
}

.lapContainer::-webkit-scrollbar {
  width: .3rem;
}

.lapContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.020);
  border-radius: 16px;
}

.lapContainer::-webkit-scrollbar-thumb {
  background-color: rgb(165, 228, 19);
  border-radius: 16px;
  outline: 1px solid rgb(19, 109, 199);
}

p {
    color: #fff;
}

.loader {
    background: none;
    width: 280px;
    height: 280px;
    border: 5px solid rgba(255, 0, 0, 0.3);
    border-top: 5px solid red;
    border-radius: 50%;
    animation: animate 1s infinite;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
    visibility: hidden;
}

@keyframes animate {
    0% {
    transform: rotate(0deg);
    }
    
    100% {
    transform: rotate(360deg);
    }
}